.main-container {
  max-width: 28rem;
  margin: 0 auto;
}

.budget-info-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  padding: 1rem;
}

.category-display {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.usage-percentage {
  margin-left: auto;
}

.budget-input-container {
  display: flex;
}

.currency-symbol {
}

.budget-limit-input {
}

.per-month {
  margin-left: auto;
}

.progress-bar {
  width: 100%;
  height: 0.5rem;
  background-color: white;
  background: #e5e5e5;
  border-radius: 10rem;
  margin: 1rem 0;
}

.progress-fill {
  height: 100%;
  background-color: black;
  border-radius: 10rem;
}

/* デバッグ用: 中心線を表示 */
.budget-input-container {
  position: relative;
}

.budget-input-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background: red;
  z-index: 999;
}