.main-container {
  display: flex;
  flex-direction: column;
}

.add-fixed-cost-button {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  border: 1px dashed #93C5FD;
  border-radius: 0.25rem;
  background-color: #DBEAFE;
  padding: 1rem 0.5rem;
}

.add-icon {
  display: flex;
  background-color: #3B82F6;
  border-radius: 50%;
  color: white;
  padding: 0.5rem;
  margin-right: 1rem;
}

.add-title {
  color: #1E40AF;
}

.fixed-cost-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

.fixed-cost-item {
  background-color: white;
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.fixed-cost-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.fixed-cost-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.category-icon {
  display: flex;
  color: white;
  padding: 0.5rem;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
}

.category-name {
  display: flex;
  margin-left: 0;
  font-weight: bold;
}

.cost-price {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}

.calendar-icon {
  align-items: center;
}

.flex {
  display: flex;
  line-height: 1;
  align-items: center;
  background-color: #F3F4F6;
  color: #666666;
  padding: 0.375rem;
  gap: 0.5rem;
  border-radius: 0.25rem;
}
