.form-container {
  max-width: 28rem;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  background-color: white;
  gap: 1rem;
}

.header-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.store-name-value, .store-address-value {
  flex: 1;
  margin-left: 1rem;
  border: none; /* 枠線はなし */
  border-bottom: 1px solid #e0e0e0; /* 控えめな下線 */
  background: none; /* 背景なし */
  padding: 0.25rem 0.1rem; /* 少し余白を追加 */
  font-size: 0.95rem; /* フォントサイズを調整 */
  color: #333; /* 文字色 */
  text-align: right; /* 右揃え */
  transition: border-color 0.2s ease-in-out; /* フォーカス時のアニメーション */
}

.store-name-value:focus, .store-address-value:focus {
  outline: none; /* デフォルトのアウトラインを無効化 */
  border-color: #007aff; /* フォーカス時に下線の色を変更 */
}

/* プレースホルダーのスタイル */
.store-name-value::placeholder, .store-address-value::placeholder {
  color: #cccccc; /* プレースホルダーの色を薄く */
  text-align: right; /* プレースホルダーも右揃え */
}

.store-info {
  display: flex;
  flex-direction: column;
}

.total-container {
  background-color: #fef3c7;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.total-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
}

.tax-container {
  padding: 0.5rem 0;
  color: #666666;
}

.total-amount-container {
  border-top: 1px solid #fde68a;
  padding-top: 0.5rem;
}

.total-label {
  font-size: 0.75rem;
  color: #666666;
}

.tax-value {
  flex: 1;
}

.sub-total-amount, .tax {
  font-size: 0.75rem;
  color: #666666;
}

.total-amount {
  font-size: 1rem;
  color: #333333;
}

.item-container {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
}

.item-list > *{
  transition: all 0.5s ease;
}

.item-list > *:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.delete-container {
  min-height: 1.5rem;
}

.product-detail {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.product-detail-header {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #d1d5db;
}

.delete-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #ED1A3D;
  transition: all 0.2s ease;
}

.delete-button:hover {
  color: #811d2d;
}

.delete-button:active {
  transform: scale(0.95);
}

.product-total-price {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-weight: 200;
  color: #333333;
  margin-left: auto;
}

.product-sub-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.category-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.product-name {
  flex: 1;
  margin-left: 0.5rem;
  text-align: left;
  color: #333333;
  font-weight: 400;
}

.product-price-info {
  display: flex;
  flex-direction: column;
}

.product-price-and-quantity {
  font-size: 0.785rem;
  color: #999999;
  font-weight: 200;
  line-height: 1;
}

.product-discount {
  font-size: 0.785rem;
  color: #EF4444;
  font-weight: 200;
  line-height: 1;
}

.input-product-name, .input-product-price, .input-product-quantity, .input-product-discount {
  width: 80%;
  color: #505255;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid #d1d5db;
  transition: all 0.2s ease;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 400;
  color: #6b7280;
}