.form-container {
  max-width: 28rem;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ocr-container {
  display: flex;
  justify-content: end;
  min-height: 2rem;
  align-items: center;
}

.ocr-buttons {
  display: flex;
  justify-content: end;
  gap: 1rem;
  margin-right: 0.75rem;
}

.ocr-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background: none;
  color: #2563eb;
}

.ocr-button-text {
  font-size: 0.5rem;
}

.item-container {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 0 0.5rem;
  border: 1px solid #f3f4f6;
}

.item-list > * {
  transition: all 0.3s ease;
}

.item-list > *:not(:last-child) {
  border-bottom: 1px solid #f3f4f6;
}

.category-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.product-name {
  flex: 1;
  margin-left: 0.625rem;
  text-align: left;
  color: #6b7280;
  font-weight: 500;
  font-size: 0.9375rem;
}

.error-container {
  background-color: #fef2f2;
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border: 1px solid #fecaca ;
  border-radius: 0.5rem;
  gap: 0.5rem;
}

.error-icon {
  display: flex;
  color: #dc2626;
}

.error-message {
  color: #dc2626;
}

.error-reset-button {
  display: flex;
  border: none;
  color: #dc2626;
  background: none;
  margin-left: auto;  /* ✅ これだけでOK！ */
}