* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex-list {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
}

.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 900px;
  background: white;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 5px 12px rgba(0,0,0,0.1);
}

/* 見出し */
.section-title {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 12px;
  font-weight: normal;
}

/* 区切り線 */
.section-divider {
  width: 100%;
  max-width: 100%;
  border-bottom: 1px solid #ccc;
  margin: 0 auto 20px;
}

/* 登録ボタン */
.primaryBtn {
  display: block;
  margin: 0 auto;
  margin: 16px auto;
  padding: 10px 24px;
  border-radius: 8px;
  border: none;
  background: #656ac6;
  color: #fff;
  font-size: 0.9rem;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

/* テーブル */
.deviceTable {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 0.95rem;
}


.deviceTable th {
  text-align: left;
  padding: 15px;
  color: #999;
  font-size: 0.85rem;
  letter-spacing: 0.1em;
  border-bottom: 2px solid #eee;
}

.deviceTable td {
  padding: 20px 15px;
  border-bottom: 1px solid #eee;
  color: #333;
}

.deviceTable tr:hover td {
  background-color: #fafafa;
}

/* 削除ボタン */
.deleteBtn {
  background: none;
  border: none;
  color: #999;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.85rem;
}
.deleteBtn:hover {
  color: #ff4c4c;
}

/* スイッチ */
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* スライダー背景 */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 999px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

/* ON */
input:checked + .slider {
  background-color: #656ac6;
}

input:checked + .slider:before {
  transform: translateX(20px);
}