*{
    padding: 0;
    margin: 0;
  }
  
  
  .main{
    width: 100%;
    height: 100vh;
  }
  
  
  .flex-list {
    width: 100%;
    height: 100%;
    display: flex;          
    flex-direction: column;  
    align-items: center;
  }

  .modoru{
    padding: 5px 10px;
    margin: 1% 80% 0 0;
    border: none;
    border-radius: 5px;
    background: #656ac6;
    color: white;
    cursor: pointer;
    font-size: 80%;
    box-shadow: 5px 5px 5px rgb(143, 155, 188);
  }

  .modoru svg {
    width: 15px;   
    height: 15px;
  }

  .flex-userinfo{
    width: 80%;
    height: 100%;
    background-color:white;
    margin: auto 0;
    margin-top: 5%;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0px 5px 5px rgb(82, 75, 75);
  }

  .p{
    display: flex; 
    align-items: center;
    flex-direction: column;  
    font-size: 150%;
    margin-top: 2%;
  }

  .divider {
    width: 90%;           /* 線の長さ */
    border-bottom: 1px solid black; /* 下線を作る */
    margin: 20px auto;
  }

  .ul{
    width: 90%;
    margin: 20px auto;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;  

  }

  
  .li {
    display: flex;
    justify-content: space-between; /* 左右に分ける */
    align-items: center;           /* 上下中央揃え */
    width: 100%;
    margin: 2% 0;
    border-radius: 8px;
    background-color: white;
    font-size: 120%;
  }

  
  .button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: #656ac6;
    color: white;
    cursor: pointer;
    font-size: 80%;
    box-shadow: 0px 5px 5px rgb(143, 155, 188);
  }
  
.withdraw{
    padding: 5px 10px;
    margin-top: 10%;
    border: none;
    border-radius: 5px;
    background: red;
    color: white;
    cursor: pointer;
    font-size: 80%;

}