.dropdown-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0.5rem 0;
  color: #6b7280;
  font-weight: 600;
}

.dropdown-menu {
  background-color: red;
  border-radius: 0.5rem;
}