.main-container {
  max-width: 28rem;
  margin: 0 auto;
}

.finance-summry {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 1rem;
}

.finance-item {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #374151;
  background-color: white;
  padding: 0.5rem 0.5rem;
  border: 1px solid #e5e7eb;
  border-radius: 1rem;
}

.label {
  flex: 1;
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1;
}

.value {
  color: #343A40; /* 落ち着いたグレー */
  font-size: 1rem;
  line-height: 1;
}

.value.income {
  color: #3B82F6;
}

.value.expence {
  color: #EF4444;
}

.graph-container {
  position: relative;
  width: 100%;
  height: 19rem;
  display: flex;
  margin: 1rem 0;
  padding: 1rem 0;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
}

.detail {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  gap: 1rem;
  color: #6b7280;
  border-bottom: 1px solid #eee;
}

.flex:last-child {
  border: none;
}

.category-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.category-name {
  flex: 1;
}