*{
    padding: 0;
    margin: 0;
  }
  
  
  .main{
    width: 100%;
    height: 100vh;
  }
  
  .flex-log{
    width: 100%;
    height: 15%;
    background-color: #eeeeee;
    padding: auto;
    margin: auto;
    display: flex;
    justify-content: flex-end; /* 下寄せ */
    align-items: center;       /* 横中央 */
    flex-direction: column;    /* 縦方向に並べる */
  }
  
  .logBtn{
    text-decoration: underline;
  }
  
  .ul{
    display: flex;
    list-style: none;
    gap: 300px;
    align-items: center;
  }
  
  .button {
    border: none;           /* 枠線を消す */
    color: rgb(87, 84, 184);          
    padding: 5px;     /* 内側の余白 */
    margin-bottom: 5px;
    border-radius: 5px;     /* 角を丸くする*/
    cursor:pointer;        /* ホバー時に指マーク */
  }