* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
}

/* 上部タブエリア */
.flex-log {
  width: 100%;
  height: 15%;
  background-color: #eeeeee;
  display: flex;
  justify-content: center; 
  align-items: center;      

}

/* フォーム全体 */
.flex-text {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: auto;
}

/* .flex-textPw {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
} */


.flex-mail {
  width: 50%;
  padding: 8px 12px; 
  border: 1px solid #ccc;
  border-radius: 5px;  
}


.flex-pass {
  width: 50%;
  padding: 8px 12px; 
  border: 1px solid #ccc;
  border-radius: 5px;  
}


.sp {
  font-size: 80%;
  background-color: transparent;
  color: rgb(58, 149, 149);
  border: none;
  cursor: pointer;
}

/* ログイン / 新規登録ボタン */
.bt {
  padding: 5px 35px;
  font-size: 14px;
  color: white;
  background-color: rgb(75, 100, 189);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5%;
}

/* 下部余白エリア */
.flex-soko {
  width: 100%;
  height: 15%;
  background-color: #eeeeee;
}


.errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 6px;
  text-align: left;
}
