* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
}

/* 上部タブエリア */
.flex-log {
  width: 100%;
  height: 15%;
  background-color: #eeeeee;
  display: flex;
  justify-content: center; 
  align-items: center;      

}

/* フォーム全体 */
.flex-text {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: auto;
}

.flex-mail {
  width: 60%;
  padding: 8px 12px; 
  border: 1px solid #ccc;
  border-radius: 5px;  
}


.flex-pass {
  width: 60%;
  padding: 8px 12px; 
  border: 1px solid #ccc;
  border-radius: 5px;  
}

.inputWrapper {
  position: relative;
  width: 60%;
  margin-bottom: 1rem;
}

.inputWrapper input {
  width: 100%;
  padding: 8px 36px 8px 12px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

.inputWrapper .passwordToggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
}

.sp {
  font-size: 80%;
  background-color: transparent;
  color: rgb(58, 149, 149);
  border: none;
  cursor: pointer;
}

/* ログイン */
.bt {
  margin-top: 2em;
  padding: 8px 35px;
  font-size: 14px;
  color: white;
  background-color: rgb(75, 102, 189);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* 下部余白エリア */
.flex-soko {
  width: 100%;
  height: 15%;
  background-color: #eeeeee;
}