.main-container {
  display: flex;
  flex-direction: column;
  max-width: 28rem;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
}

.main-inner {
  border-radius: 0.5rem;
  overflow: hidden;
}

.main-header {
  background-color: #2563eb;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

.header-icon {
  margin: 0 auto;
}

.input-section {
  padding: 2rem 0.5rem 0rem 0.5rem;
  background-color: white;
}

.input-wrapper {
  position: relative;
  margin-bottom: 1rem;
}

.input-field {
  width: 100%;
  padding: 1rem;
  border: 2px solid #e9ecef;
  border-radius: 0.5rem;
  font-size: 1rem; /* 追加: inputと同じフォントサイズ */
  line-height: 1.5; /* 追加: inputと同じ行高 */
  text-indent: 1rem;
}

.icon {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
}

.eye-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.forgot-password {
  border: none;
  background: none;
  margin-right: auto;
  color: #667eea;
  cursor: pointer;
  margin-bottom: 1rem;
}

.error-container {
  background-color: #fef2f2;
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border: 1px solid #fecaca ;
  border-radius: 0.5rem;
  gap: 0.5rem;
  margin-top: 1rem;
  color: #dc2626;
}

.error-icon {
  display: flex;
}