* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
}

.flex-log{
  width: 100%;
  height: 15%;
  background-color: #eeeeee;
  display: flex;
  justify-content: flex-end; /* 下寄せ */
  align-items: center;       /* 横中央 */
  flex-direction: column;    
}


/* フォーム */
.flexText {
  margin-top: 5%;
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexText input {
  width: 80%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* 赤い星を表示するクラス */
.inputWrapper {
  position: relative;
  width: 50%;
  margin-top: auto;
  margin-bottom: 2%;
}

.inputWrapper .required {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  color: red;
  font-weight: bold;
  pointer-events: none;
}



/* 新規登録ボタン */
.newBtnLog {
  padding: 5px 35px;
  font-size: 14px;
  color: white;
  background-color: rgb(75, 102, 189);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5%;
  margin-bottom: 10%;
}

/* 下部 */
.flex-soko {
  width: 100%;
  height: 15%;
  background-color: #eeeeee;
  padding: auto;
  margin: auto;
}
